RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^pooling/?.*$    plannedpooling.html
RewriteRule    ^$    plannedpooling.html
RewriteRule    ^about/? about.html
RewriteRule    ^examples/? examples.html